.home-1{
background-image: url();
}
.cart-home-1{
display: flex;
width: 100%;
align-items: center;
justify-content: center;
flex-direction: row;
flex-wrap: wrap;
margin-top: 50px;
margin-bottom: 50px;
text-transform: capitalize;
}
.cart-home-1 img{
width: 100px;
height: 100px;
}
.f1-cart-home-1{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
width: 100%;
gap: 198px;
margin-right: 117px;
}
.f1-cart-home-1 h2:first-child{
margin-right: 299px;
}
.f2-cart-home-1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 200px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.f2-cart-home-1 h2{
margin: 10px 20px;
}
.f2-cart-home-1 div:first-child{
display: flex;
width: 25%;
}
.f2-cart-home-1 div div div{
display: flex;
margin: 10px 20px;
}
.cart-home-1 .n{
border: 1px solid #777;
padding: 3px 7px;
gap: 22px;
display: flex;
text-align: center;
align-items: center;
}

.f3-cart-home-1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 130px;
    gap: 940px;
    text-align: center;
}
.cart-home-1 .ext{
display: flex;
gap: 120px;
}
.f4-cart-home-1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 910px;
    margin-top: 20px;
}
.f4-cart-home-1 div:first-child{
display: flex;
gap: 20px;
align-items: center;
justify-content: center;
}
.f4-cart-home-1 a{
background-color: black;
text-decoration: none;
color: white;
padding: 10px;
}
.f4-cart-home-1 .dfrt a{
background-color: transparent;
border: 1px solid #777;
color: #777;
}
.f5-cart-home-1{
width: 80%;
margin-top: 50px;
}
.f5-cart-home-1 .spr-1{
display: flex;
}
.f5-cart-home-1 h1{
margin-right: 80px;
font-weight: 550;
margin-bottom: 10px;
font-size: 1.7rem;
}
.spr > div:first-child{
display: flex;
gap:149px;
margin-top: 10px;
}
.spr > div{
    display: flex;
    gap: 100px;
    margin-bottom: 20px;
    margin-left: 50px;
    font-size: 1.3rem;
    font-family: 'Roboto', sans-serif;
}
.cart-home-1 .fin{
    background-color: black;
    width: 180px;
    height: 40px;
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.cart-home-1 .fin a{
    text-decoration: none;
    color: white;
}






